#dropdownMenuButton {
  background-color: #2E3A89;  
  margin-bottom: 10px !important;
}

#hamburgerCloseToggle a {
  color: #565b5f !important;
}

a:link {
  color: #2E3A89;
  background-color: transparent;
  text-decoration: none;
}